#img-cell div img {
    /* width: 80%; */
    margin-left: 0px

}

.img-list {
    width: 100%;
    margin-left: 0px;
    margin-top: 5%
}

#img-cell div p {
    padding-top: 5%;
}

#img-cell {
    padding-top: 15px;
    padding-bottom: 15px;
}

nav {
    width: 85%;
    display: flex;
    justify-content: space-between;
  }
  
button {
flex: 0 0 18%;
/* any width as long a % times number of items does not exceed 100% */
height: 50px;
width: 200px;
text-align: center;
background: #000;
border-color: #000;
color: white;
line-height: 50px;
}


.img__wrap {
    text-align: center;
}

.img__description {
    position: absolute;
    color: rgb(3, 3, 3);
    visibility: hidden;
    opacity: 0;
    bottom: 0;
    background-color: rgb(28, 28, 29);
    margin: 0;
    width: 89%;


    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}


.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
}

.img__wrap span {
    position: absolute;
    bottom: 0;
    right: 0;
}

#container2 {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility:hidden;
    display:none;
    background-color: rgba(22,22,22,0.5);
}

#container2:target {
    visibility: visible;
    display: block;
}

.reveal-modal {
    background:#e1e1e1; 
    margin: 0 auto;
    width:160px; 
    position:relative; 
    z-index:41;
    top: 25%;
    padding:30px; 
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.4); 
    box-shadow:0 0 10px rgba(0,0,0,0.4);
}